@model IEnumerable<ShowRoom.Models.Marque>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marque1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marque1)
        </td>
    </tr>
}

</table>
